body{
    font-family: 'Open Sans', sans-serif;
    margin-top:100px;
    margin-left:0px;
    margin-right:0px;
   
}
.vertical-line{
    font-size:44px;
    border-left:8px solid #123C69;
    
    border-radius:5px 5px;
    padding-left:10px;
   
    
}
.purpose-point{
    width:55%;
   
   
    
}
.purpose-point img{
    width:75%;
    padding-left:100px;
    border-radius:30px;
 
}
.faded{
    color:#af3c6285;
}
.deep{
    color:#AC3B61;
    font-weight: 500;
}
.blue{
    color:#123C69;
}
.linked-button{
    color:#AC3B61;
    text-decoration:none;
    background-image:linear-gradient(#ee8e76,#ecb69f,#ee8e76);
    padding:12px 33px;
    font-weight:700;
    border-radius:20px;
}
.introduction-solutions{
    display:flex;
    padding-bottom:60px;
    margin-left:100px;
    margin-right:50px;
    
   
    
}

.missions h1{
    font-size:50px;
    text-align:center;
    margin-top:50px;
}
#mission h3{
    text-align:center;
    padding-bottom:10px;
}
#mission img{
    width:70%;
    margin-left:50px;
    
}
#mission{
    width:35%;
    background-color:#ac3b613d;
    padding-left:30px; 
    padding-bottom:30px;
    padding-right:30px; 
    margin-right:20px; 
    border-radius:25px;

}
#vision h3{
    text-align:center;
    padding-bottom:10px;
}
#vision img{
    width:70%;
    margin-left:50px;
   
}
#vision{
    width:35%;
    background-color:#d1e23d5d;
    padding-left:30px; 
    padding-bottom:30px;
    padding-right:30px; 
    margin-right:20px; 
    border-radius:25px;
}
#goals h3{
    text-align:center;
    padding-bottom:10px;
}
#goals img{
    width:70%;
    margin-left:50px;
}
#goals{
    width:35%;
    background-color:#3de0d263;
    padding-left:30px; 
    padding-bottom:30px;
    padding-right:30px; 
    border-radius:25px;
    margin-right:20px; 
}
.learn-more{
    background-image: url(images/shapes/shape-6.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position:left center;
    
}
.sharing-datas{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position:bottom right;
    background-size: 170px;
}
.taking-oath h1{
    font-size:43px;
    font-weight:800;
    text-align: center;
    padding-top:10px;
}
.taking-oath{
    background-color: #ecb69f;
    height: 130px;
}
footer{
    text-align: center;
    padding-bottom:10px;
    
}